<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Atom Feed for springenwerk.com" href="/feeds/atom.xml" />
    <!--[if lt IE 8]>
        <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <meta http-equiv="Content-Type"       content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language"   content="en" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta name="description" content="Springenwerk: The website and blog of freelancing software developer and security consultant Johannes Fahrenkrug." />
    <meta name="keywords"    content="Springenwerk, Johannes Fahrenkrug, jfahrenkrug, iPhone, iPhone SDK, iPad, iPad development, iPhone development, Mac development, freelancer, consultant, Ruby, Ruby on Rails, Cappuccino, JavaScript" />                                       
    <meta name="language" content="en" />
  </head>
  
  
  <body class="bp three-col">
    <div id="container">
      <div id="header">
        <a href="/" class="logo"><img src="/images/logo_white.png"/></a>
        <div class="main-navi">
          <ul>
            <li><a href="/about.html">About</a></li>
            <!-- <li><a href="/work.html">Work</a></li> -->
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/contact.html">Contact</a></li>
          </ul>
        </div>
        <hr/>
      </div>
      <div id="sidebar">
        <h5>Stay in touch:</h5>
      	<ul>
          <li><a href="http://github.com/jfahrenkrug">Github</a></li>
          <li><a href="http://twitter.com/jfahrenkrug">Twitter</a></li>
          <li><a href="http://www.linkedin.com/in/jfahrenkrug">LinkedIn</a></li>
          <li><a href="http://www.xing.com/profile/Johannes_Fahrenkrug">Xing</a></li>
        </ul>
        
        <h5 style="margin-top: 50px">FreeAgent:</h5>
        <a href="http://fre.ag/31l92b39" title="FreeAgent: money management and accounting for freelancers, contractors and consultants"><img src="http://www.freeagentcentral.com/images/i-heart-fa.jpg" width="102" height="42" alt="FreeAgent sign-up" /></a>
      </div>
        <div id="content">
          <h1>{{ page.title }}</h1>
          <em class="swlightgray">Posted on {{ page.date | date_to_long_string }} by Johannes Fahrenkrug. Tags: {% for category in page.categories %}<a class="swtaglink" href="/tags.html#{{ category }}">{{ category }}</a> {% endfor %}</em>
          <div style="margin-top: 10px">
          <div class="blog-post-body">{{ content }}</div>
          </div>
          
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            var disqus_identifier = "{{ page.name }}";
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://springenwerk.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=springenwerk">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
      <div id="footer"><hr/><img style="float: left" src="/images/tagline.png"/><a class="imprintlink" href="/impressum.html">Impressum</a></div>
    </div>
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4100979-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_gat._anonymizeIp']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  </body>

</html>