---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p>{frontmatter.time.slice(0,10)}</p>
    <slot />
</BaseLayout>